# Local Netlify folder
.netlify

# Environment variables
*.env
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
build/
dist/
